body{
    margin:0px;
    min-height: 100vh;
}
.body{
    margin:0;
   display:flex;
   flex:0 0 500px;
   flex-direction:column;
   padding:0px;
   height:600px;
   min-height: 100vh;;
}
.title{
    font-size: 24px;
}
.logo{
    width: 32px;
    height: auto;
    border-radius:50%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding:0;
    display: flex;
    margin-left: auto;
    gap:16px;
    
}
a {
    text-decoration: none;
    color: blueviolet;
    font-size: 18px;

}
.top{
    background-color: blueviolet;
    margin: 0;
    color:white
}
.header{
    display:flex;
    align-items: center;
    padding:10px 30px 30px;
    background-color: greenyellow;
    color:blueviolet
}
.awesome{
    font-size:48px;
    font-weight:800;
    padding:0px 30px

}
.tree{
    width: 350px;
    height: auto;
    display:flex;
    flex: 0 1 auto;
    padding:30px;
    border-radius: 50%;
    margin-right:auto;
}
.h2{
    display:flex;
    flex-flow:column;
    padding:30px;
    margin-left:auto;
    flex:0 1 auto
}
.h{
    display:flex;
}
.h2 button{
   border:none;
   border-radius:8px;
    width:fit-content;
    padding: 10px;
    background-color: chartreuse;
}
.random{
    text-align: center;
    /* margin:auto; */
    font-size:36px;
    font-weight:900;
}
.middle.container{
    display:flex;
    justify-content:center;
}
.container img{
    width:180px;
    height:100px;
    display:flex;
    flex: 0 1 auto;
    margin:20px;
    border-radius: 50%;

}
.middle{
    padding:10px 30px 20px 30px;

}
.container .text{
    display:flex;
    flex: 0 1 auto;
    margin:20px;
}
.part{
    background-color: greenyellow;
    margin:auto;
    width:600px;
    padding: 20px 30px;
    border-radius:16px;
}
.quote{
    padding:20px 30px 0px 30px;
}
div .author{ 
display:flex;
margin:0px 30px 20px 30px;
justify-content: flex-end;
}

.box{
    padding:20px 30px;
    background-color: greenyellow;
margin:auto;
border-radius: 16px;
width:600px;
display:flex;
flex-flow:row wrap;

}

.container{
    display:flex;
justify-content: center;
align-items:center;
margin:auto;
}
.signup{
    background-color: greenyellow;
    border-color: white;
    border-radius: 8px;
    color: blueviolet;
    margin-left:auto;
}
.footer{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    padding:20px;
    margin-top:auto;
   
}
